<% provide(:title, "ログイン") %>
<table class="text-secondary">
  <tr>
    <th>ユーザー名</th>
    <th>パスワード</th>
  </tr>
  <tr>
    <td>admin</td>
    <td>password</td>
  </tr>
  <tr>
    <td>user</td>
    <td>password</td>
  </tr>
  <tr>
    <td>user3</td>
    <td>password</td>
  </tr>
  <tr>
    <td>〜</td>
  </tr>
  <tr>
    <td>user50</td>
    <td>password</td>
  </tr>
</table>

<div class="form_box col-sm-6">
  <h2>ログイン</h2>
  <%= render "shared/error_message" %>

  <%= form_with scope: :session, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :name, 'ユーザー名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit 'ログイン', class: 'btn btn-primary' %>
  <% end %>
</div>
