<table class="table text-left">
  <div class="card-header">
    <h4>ユーザー詳細</h4>
  </div>
    <div class="card-body ">
      <tr>
        <th>ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>ユーザ名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>管理者</th>
        <td><%= @user.administrator? ? "○" : "-" %></td>
      </tr>
      <tr>
        <th>作成日</th>
        <td><%= @user.created_at.to_s(:datetime_jp) %></td>
      </tr>
      <tr>
        <th>更新日</th>
        <td><%= @user.updated_at.to_s(:datetime_jp) %></td>
      </tr>
    </div>
</table>
