<table class="table text-left">
  <%= render "shared/notice_message" %>
  <div class="card-header">
    <h4>マイアカウント</h4>
  </div>
    <div class="card-body ">
      <tr>
        <th>ユーザーID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>登録日</th>
        <td><%= @user.created_at.to_s(:datetime_jp) %></td>
      </tr>
      <tr>
        <th>更新日</th>
        <td><%= @user.updated_at.to_s(:datetime_jp) %></td>
      </tr>
    </div>
</table>
<% if controller.kind_of?(AccountsController) %>
  <td class="float-right">
    <%= link_to "退会", :account, method: :delete, data:{confirm: "本当に退会しますか？ "},
    class: 'btn btn-outline-danger btn-sm float-right'%>
  </td>
<% end  %>
