<h1>ユーザー一覧</h1>
<%= form_with(url: :search_users, method: :get, local: true) do  %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag '検索', class: "btn btn-outline-info btn-sm" %> <%= link_to 'Clear', users_path %>
<% end %>
<div class="ml-auto users__linkBox float-right">
  <%= link_to "ユーザー新規登録", new_user_path, class: "btn btn-outline-dark" %>
</div>
  <% if @users.present? %>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>ユーザ名</th>
          <th>email</th>
          <th>管理者</th>
          <th>作成日</th>
          <th>更新日</th>
          <th></th>
          <th></th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.administrator %></td>
            <td><%= user.created_at.to_s(:datetime_jp) %></td>
            <td><%= user.updated_at.to_s(:datetime_jp) %></td>
            <td><%= link_to '詳細', user, class: 'btn btn-outline-dark btn-sm' %></td>
            <td><%= link_to "編集", edit_user_path(user), class: 'btn btn-outline-dark btn-sm' %></td>
            <td><%= link_to "削除", user, method: :delete, data:{confirm: "本当に削除しますか？ "},
              class: 'btn btn-outline-danger btn-sm'%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>会員情報がありません</p>
  <% end %>
  <%#= paginate @users %>
