<ul class="navbar-nav">
  <% if @current_user %>
    <li class="nav-item">
      <%= menu_link_to "#{@current_user.name}さん", :account, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= menu_link_to '文献一覧', literatures_path, class: 'nav-link' %>
    </li>
    <%= if currrent_user.administrator? %>
      <li class="nav-item">
        <%= menu_link_to '管理ページ', admin_root_path, class: 'nav-link' %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= menu_link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to '登録', new_user_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'ログイン', root_path, class: 'nav-link' %>
      <%#= link_to 'ログイン', 'login_form', class: 'nav-link' %>
      <%#= link_to 'ログイン', 'login_path', class: 'nav-link' %>
    </li>
  <% end %>
</ul>
