<div class="form-group">
  <%= form.label :name, 'ユーザー名' %>
  <% if @user.id == 1 %>
    <%= form.text_field :name, class: 'form-control', disabled: "" %>
  <% else %>
    <%= form.text_field :name, class: 'form-control' %>
  <% end %>
</div>
<div class="form-group">
  <%= form.label :email, 'email' %>
  <%= form.text_field :email, class: 'form-control' %>
</div>
<% unless controller.kind_of?(AccountsController) %>
  <div class="form-group">
    <%= form.label :password, 'パスワード' %>
    <% if @user.id == 1 %>
      <%= form.password_field :password, class: 'form-control', disabled: "" %>
    <% else %>
      <%= form.password_field :password, class: 'form-control',:placeholder => "6文字以上" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation, 'パスワード（確認）' %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>
<% end %>
