<% provide(:title, "ユーザー編集") %>

<div class="form_box  col-sm-6">
  <td><%= link_to "戻る", :back, class: 'btn btn-outline-dark float-right' %></td>
  <h2>ユーザー編集</h2>

  <%= render 'shared/error_messages' %>
  <%= form_with model: @user, url: admin_user_path(@user) do |form| %>
    <%= render 'shared/user_form', form: form %>
    <%= render 'admin_form', form: form %>
  <%= form.submit '更新', class: 'btn btn-primary' %>
  <% end %>
  <%= "サンプルの為、ユーザー：adminに関しては ユーザー名,パスワード、管理者チェックボックスの変更は不可にしています。" %>
</div>
