<% provide(:title, "ユーザー詳細") %>
<%= render "shared/notice_message" %>

<div class="d-flex align-items-center">
  <div class="ml-auto users__linkBox">
    <td><%= link_to "一覧", admin_users_path(take_params), class: 'btn btn-outline-dark' %></td>
    <td><%= link_to "編集", edit_admin_user_path(@user), class: 'btn btn-outline-dark' %></td>
    <td><%= link_to '削除', admin_user_path(@user),class: 'btn btn-outline-danger ',
       method: :delete, data: { confirm: '削除しますか?' } %></td>
  </div>
</div>

<table class="table text-left">
  <div class="card-header">
    <h4>ユーザー詳細</h4>
  </div>
    <%= render "shared/account_body" %>
</table>
