<!DOCTYPE html>
<html>
  <head>
    <title>文献管理</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "header"%>
    </header>
    <main class="container-fluid">
    <!-- <div class="container"> -->
      <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error_message] %>
        <div class="alert alert-danger"><%= flash[:error_message] %></div>
      <% end %>
        <%= yield %>
    <!-- </div> -->
    </main>
    <footer>

    </footer>
  </body>
</html>
