<%= render 'shared/error_messages' %>
<%#= render 'shared/error_messages',obj:@user %>

<div class="form_box  col-sm-6">
  <h2>アカウント情報の編集</h2>
  <div><%= link_to "マイアカウントに戻る", :account, class: 'nav-link float-right' %></div>
  <%#= form_with model: @user, url: account_path(@user) do |form| %>
  <%= form_with model: @user, url: account_path(@user) do |form| %>
    <%= render 'users/form', form: form %>
  <%= form.submit '更新', class: 'btn btn-primary' %>
  <% end %>
</div>
